.body {
    height: 100%;
}



.contact {
    z-index: 4;
    text-align: center;
    height: 900px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-mail {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-mail h1 {
    font-size: 80px;
    color: rgb(224, 230, 221);
    font-weight: normal;
}

.title-mail h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(105, 111, 103);
}

.form-par {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input label {
    width: 400px;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    padding-top: 20px;
}

.input input {
    font-size: 20px;
    width: 400px;
    height: 40px; 
    border-radius: 10px;
    border: 2px solid rgb(200, 200, 200);
}

.textarea {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.textarea label {
    width: 400px;
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    padding-top: 20px;
}


.message {
    font-size: 20px;
    width: 400px;
    height: 400px; 
    border-radius: 10px;
    border: 2px solid rgb(200, 200, 200);
    
}

.submit {
    width: 80px;
    height: 30px;
    margin: 20px auto;
    background-color: rgb(194, 204, 187);
    border: 1px solid rgb(116, 116, 116);
    color: rgb(63, 63, 63);
    font-size: 20px;
    font-weight: normal;
    border-radius: 5px;
}

