.section4 {
    position: relative;
}

.drawing, .calender, .line, .suzuri, .movie, .santa {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    background: rgba(140, 136, 92, 0.849);
    display: none;

}

.x {
    position: fixed;
    padding: 50px;
    right: 0;
}

.x p{

    color: rgb(54, 31, 31);
    font-size: 60px;
    cursor: pointer;
    transition: color .5s;

}

.x p:hover {
   color: white;
}

.sheet-h {
    color: rgb(54, 31, 31);
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

.sheet-h h1 {
    font-size: 80px;
}

.sheet-h h2 {
    font-size: 30px;
    line-height: 50px;
}

.sheet-gal {
   display: flex;
   flex-direction: column;
}

.sheet-text {
    width: 50%;
    padding: 40px;
    margin: 0 auto;
    background-color: rgb(220, 214, 206);
    color: rgb(54, 31, 31);
    border: rgb(54, 31, 31) 4px solid;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.sheet-text a {
    color:rgba(140, 136, 92)
}

.sheet-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.sheet-ul li {
    padding: 80px;

}


.dra-ul li {
    padding: 50px;
}

.dra-photo {
    width: 300px;
    height: 300px;
}

.cal-photo {
    width: 500px;
}




.stamp-name {
    font-size: 40px;
    color: rgb(54, 31, 31);

}

.lin-photo {
    width: 1000px;
}

.goods {
    width: 400px;
    padding: 30px;
}

.goods-pho{
    width: 700px;
    padding: 30px;
}


.mov-ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.genga {
    width: 500px;
}

.bag {
    width: 800px;
}

.youtube{
    width: 500px;
    height: 380px;
}



.san-photo {
    width: 400px;
}